.container {
  margin: 40px 300px;
}

.h1home {
  font-size: 80px;
  letter-spacing: 1.7px;
  /* font-style: italic; */
  font-weight: 600;
  color: #000080;
  margin: 40px 100px !important;
}

.search-form {
  width: 600px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #d3d3d3;
  border-radius: 5px;
  margin: 30px 50px !important;
}

.display {
  position: absolute;
  top: 230px;
  width: 600px !important;
  margin-left: 345px;
  left: 0;
  height:15px;
  background-color: rgb(233, 72, 72);
  width: calc(100% - 4px);
  border-radius: 5px;
  padding: 2px;
}

.viewmore{
  float: right;
  margin-right: 100px;
  font-size: 20px;
  color:red;
  cursor: pointer;
}

.display h3 {
  font-size: 12px;
  color: #fff;
  font-weight: 800;
  text-transform: uppercase;
  text-align: center;
}

.search-form input {
  font-size: 15px;
  border: none;
  margin: 0 5px;
  border-radius: 5px;
  height: 30px;
}

.search-form input[type="text"] {
  padding: 0 5px;
  width: 380px;
  color: #555;
}

.search-form input[type="submit"] {
  width: 150px;
  text-transform: uppercase;
  background-color: #000080;
  color: #fff;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
}

.recipes {
  align-items: center;
  justify-content: center;
}

.recipe {
  margin: 30px;
  display: flex;
  flex-direction: column;
  background-color: #d3d3d3;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 10px 20px 30px #aaa;
  height: 350px;
  float: left;
  width: 300px;
}

.recipe img {
  border-radius: 5px;
  object-fit: cover;
}

.recipe a {
  padding: 3px 5px;
  word-wrap: break-word;
  font-size: 20px;
  font-weight: 600;
  color: rgb(184, 43, 43);
  text-transform: uppercase;
  align-self: center;
}

.recipe a:hover {
  text-decoration: underline;
  color: rgb(19, 65, 10);
}
