.errorpage h2 {
  font-size: 150px;
  margin-left: 100px;
  align-items: center;
}
.errorpage h3 {
  font-size: 40px;
  margin-left: 80px;
  align-items: center;
}
.errorpage p {
  font-size: 18px;
  margin-left: -20px;
  margin-top: 10px;
  align-items: center;
}
