.errorpage h2 {
    font-size: 150px;
    margin-left: 100px;
    align-items: center;
  }
  .errorpage h3 {
    font-size: 40px;
    margin-left: 80px;
    align-items: center;
  }
  .errorpage p {
    font-size: 18px;
    margin-left: 10px;
    align-items: center;
  }
  .errorpage p:last-of-type {
    margin-bottom: 35px;
  }
  
  .button {
    margin-left: 100px !important;
    font-size: 10px !important;
  }
  