@import url("https://fonts.googleapis.com/css2?family=Domine&family=Poppins:wght@500&display=swap");

header {
  background-color: grey;
}

.main-nav {
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.username {
  color: white;
  line-height: 90px;
  font-size: 25px;
  font-weight: bold;
  margin-left: 30px;
  font-family: "AstroSpace", sans-serif;
}

.navlinks {
  float: right;
  line-height: 90px;
}

.navlinks li {
  display: inline-block;
  margin: 0px 20px;
}

.navlinks li a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  transition: all 0.3s linear 0s;
  text-transform: uppercase;
}

.navlinks li a:hover {
  cursor: pointer;
  color: #7ebcb9;
  padding-bottom: 7px;
  border-bottom: 2px solid #7ebcb9;
}

li a.deactivated {
  background-color: #00adb5;
  padding: 9px 20px;
  border-radius: 50px;
  transition: all 0.3s ease 0s;
  border-bottom: none;
}

li a.deactivated:hover {
  background-color: #047e85;
  color: white;
  border-bottom: none;
}
