@import url("https://fonts.googleapis.com/css2?family=Domine&family=Poppins:wght@500&display=swap");

body {
  background-color: rgb(235, 235, 235);
}

.addrecipebtn {
  width: 350px;
  height: 10mm;
  text-transform: uppercase;
  background-color: #000080;
  font-family: "Poppins", sans-serif;
  color: #fff;
  margin: 30px;
  border-radius: 5px;
  cursor: pointer;
}

.delete {
  background-color: red;
  color: white;
  width: 100px;
  font-weight: 800;
}

.readmore {
  color: blue;
  cursor: pointer;
}

.recipename {
  font-size: 25px;
  font-family: "Poppins", sans-serif;
  margin-bottom: 10px;
}

.recipedetails {
  font-size: 15px;
  font-family: "Poppins", sans-serif;
  margin-bottom:30px;
}

.title {
  margin: 40px 450px;
  font-size: 55px;
  color: #000080;
  font-style: italic;
  font-family: "Poppins", sans-serif;
}

.recipeDiv {
  padding: 30px;
  margin-left:130px;
  margin-top:80px;
  box-shadow: 0px 0px 10px 5px #aaa;
  width: 400px;
}

.search-my-recipe {
  width: 600px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #d3d3d3;
  border-radius: 5px;
  margin: 80px 350px;
}

.showall {
  margin-left: 800px;
  width: 10%;
  font-family: "Poppins", sans-serif;
  height: 30px;
  text-transform: uppercase;
  background-color: #000080;
  color: #fff;
  border-radius: 5px;
  border:none;
  cursor: pointer;
}

.search-my-recipe input {
  font-size: 15px;
  border: none;
  margin: 0 5px;
  border-radius: 5px;
  height: 30px;
}

.search-my-recipe input[type="text"] {
  padding: 0 5px;
  width: 380px;
  color: #555;
}

.search-my-recipe input[type="submit"] {
  width: 150px;
  text-transform: uppercase;
  background-color: #000080;
  color: #fff;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
}

.recipedetname{
  margin-left:550px;
  margin-top:40px;
}

.recipedetdetails{
  margin-left:150px;
  margin-right: 150px;
  margin-top:20px;
}

.recipedetstack{
  float: right;
  margin-right:300px;
  margin-top: 20px;
}
