.paperStyle {
    padding: 30px 20px;
    width: 300;
    margin: 20px auto;
  }
  
  .headerStyle {
    margin: 0;
  }
  
  .avatarStyle {
    background-color: #1bbd7e !important;
  }
  
  .btnsignup {
    margin-top: 8px !important;
  }
  