.paperStyle {
  padding: 50px 20px;
  width: 300;
  margin: 20px auto;
}

.avatarStyle {
  background-color: #52434e !important;
  margin-left: -4px !important;
}

.btnsignup {
  margin-top: 20px !important;
  margin-bottom: 8px !important;
  font-size: 10px !important;
}

.loginhere {
  color: rgb(18, 17, 105);
  font-size: 10px !important;
  font-weight: 600 !important;
  text-decoration: underline !important;
}

.loginform {
  float: right;
}
